.solutions_sandbox {
    width: 100%;
    display: flex;
}

.sandbox_nums {
    display: flex;
    flex-direction: column;
    width: 2%;
    align-items: flex-end;
    padding: 3px;
}

.sandbox_tri {
    display: flex;
    flex-direction: column;
    width: 2%;
    align-items: center;
    justify-content: flex-start;
    padding: 3px;
}

.sandbox_triangle {
    padding: 2px;
    height: 17px;
}

.sandbox_loc {
    padding: 2px;
    height: 17px;
}

.sandbox_code {
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    white-space: pre;
}

.sandbox_codeLine {
    padding: 2px;
    height: 17px;
}